<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>

<body>
    <%for(let i=0; i < links.length; i++) {%>
        <form method="POST" action="/?_method=DELETE">
            <div id="<%=links[i].id%>">
                <h2>
                    <%=links[i].title%>
                </h2>
                <div>
                    <%=links[i].description%>
                </div>
                <div>
                    <%=links[i].url%>
                </div>
                <input type="text" name="id" value="<%=links[i].id%>" hidden>
                <button type="submit">Delete</button>
            </div>
        </form>
    <%}%>
</body>

</html>